@media only screen
and (max-width: 999px) {

	.services h3 {
		font-size: 18px;
	}

	.contact_details {
		padding: 0 80px 80px 80px; 
	}

	.contact_details h3 {
		font-size: 22px;
	}

	.services div {
		padding: 0 10px 0 10px;
	}

	.hero-text h1 {
		white-space: nowrap;
	}

	p {
		font-size: 14px;
	}


}


@media only screen
and (max-width: 999px)
and (hover: none) {

	/*.menu a:hover {
		color: #060A24;
		text-decoration: none;
	}


	.botones a:hover {
		background-image: none;
		background-color: #52d2de;
		color: #060A24;
	}


	i:hover {
		color: #060A24;
		}*/

	}


	@media only screen
	and (max-width: 890px) {

		.contact_details {
			padding: 0 40px 80px 40px; 
		}

		.contact_details h3 {
			font-size: 20px;
		}

		.about_us {
			padding: 0 100px 0 100px;
		}

		h1 {
			font-size: 48px;
		}

		h2 {
			font-size: 40px;
		}



	}


	@media only screen
	and (max-width: 768px) {

		.nav {
			height: 50px;
			line-height: 50px;
		}


		.logo {

			height: 50px;
			/*left: 5%;*/
		}


		.logo img {
			height: 50px;

		}


		.menuBtn {
			display: block;
			cursor: pointer;
			left: calc(100% - 70px);
			top: 14.5px;
		}



		.menu {
			text-align: left;
			width: 100%;
			position: absolute;
			background-color: #2597cc;
			z-index: 3;
			height: 0px;
			transition: height 1s;
			top: 50px;
			overflow: hidden;
			margin-right: 0px;	
		}


		.menu a {
			display: block;
			margin: 0px;
			padding-left: 5%;
			color: #FFFFFF;
			line-height: 60px					
		}


		.menu a::selection {
			background: #FFFFFF00;
		}


		.menu a:hover {
			background-color: #0492d4;
			color: #FFFFFF;
		}


		.menu.open {
			display: flex;
			flex-flow: column nowrap;
			height: 180px;
		}

		.contact_details {
			/*flex-flow: column nowrap;*/
			flex-flow: row wrap;
		}

		.contact_details h3 {
			padding: 0 10px 0 10px;
			line-height: 34px;
		}


	/*h1 {
		font-size: 40px;
		margin-left: 5%;
		max-width: 80%;
	}


	h3 {
		font-size: 15px;
		padding-top: 5%;
		margin-left: 5%;
		max-width: 90%;
	}
	*/

	/*.botones a {
		font-size: 16px;
	}


	#boton1 {
		margin: auto;
		margin-top: 10%;
		max-width: 55%;
		padding-bottom: 5%;
	}


	.contenedor {
		padding: 100px 0px 130px 0px;
	}


	h2 {
		font-size: 36px;
		margin-left: 5%;
		max-width: 95%;
		}*/



	/*

	.copyright {
		width: 100%;
		margin: auto;
		text-align: center;
		padding-bottom: 2%;
	}


	.redes {
		width: 250px;
		margin: auto;
		}*/

	}


	@media only screen
	and (max-width: 768px)
	and (hover: none) {

		.menu a:hover {
			background-color: #2597cc;
		}

	}


	@media only screen
	and (max-width: 660px) {

		.logo {
			left: 20px;
		}

		.menuBtn {
			left: calc(100% - 50px);
		}

		.services {
			/*flex-flow: row wrap;*/
			flex-flow: column nowrap;
			/*justify-content: space-around;*/
			/*align-items: center;*/
		}

		.services div:first-child {
			padding-bottom: 60px; 
		}

		.services div:last-child {
			padding-top: 60px; 
		}

		.services h3 {
			margin-bottom: 30px;
			font-size: 20px;
		}

		.hero-text h1 {
			/*white-space: normal;*/
			font-size: 42px;
		}

		.hero-text button {
			padding: 14px 44px;
		}

	}

	/*h1 {
		font-size: 36px;
	}


	h3 {
		font-size: 14px;
	}

	.nosotros {
		padding-bottom: 20%;
	}


	.nosotros p {
		font-size: 14px;
		line-height: 22px;
	}

}

*/

@media only screen
and (max-width: 500px) {

	.hero-text h1 {
		white-space: normal;

	}

	h2 {
		font-size: 34px;
		/*white-space: nowrap;*/
	}

	.about_us {
		padding: 0 40px 0 40px;
	}

	.contact_details {
		padding: 0 20px 80px 20px;
	}

	.contact_details h3 {
		font-size: 12px;
	}

	.footer {
		flex-flow: column nowrap;
		justify-content: center;
	}

	.footer div {
		margin: 0px;
	}

	.copyright {
		line-height: 30px;
		font-size: 12px;
		text-align: center;
	}

	.social_media {
		width: 85px;
	}
}


/*

@media only screen
and (min-width: 1350px) { 

	.play > div {
		display: flex;
		justify-content: center;
	}


	iframe {
		max-width: 800px;
	}


	#section6 {
		max-height: 570px;
	}


	.contenedor-gradient {
		margin-top: 20px;
		height: 550px;
	}


	#gradient2 {
		top: 150px;
		height: 550px;
	}


	.novedades {
		min-height: 300px;
	}

}


@media only screen
and (min-width: 1440px) {

	.telefono {
		padding-left: 16vw;
	}


	.telefono img {
		max-width: 470px;
	}
	

	.nosotros {
		padding-right: 19vw;
	}


	.lista-temas {
		flex-wrap: nowrap;
		justify-content: space-around;
		margin-left: 15%;
		margin-right: 15%;
	}


	#boton2 {
		max-width: 500px;
	}

}


@media only screen
and (min-width: 2000px) {

	.nav {
		height: 80px;
		line-height: 80px;
	}


	.logo {
		height: 80px;
		line-height: 46px;
	}


	.logo img {
		height: 46px;
		width: 46px;
		transform: translateY(-23px);
		-webkit-transform: translateY(-23px);
	    -ms-transform: translateY(-23px);
	}


	.menu a {
		font-size: 20px;
		line-height: 80px;
	}


	h1 {
		font-size: 70px;
	}


	h3 {
		font-size: 20px;
	}


	.botones a {
		padding: 20px 0px 20px 0px;
		font-size: 21px;
	}


	#boton1 {
		max-width: 450px;
	}


	h2 {
		font-size: 54px;
	}


	.contenedor {
		padding-bottom: 10%;
	}


	.telefono img {
		max-width: 550px;
	}


	.nosotros p {
		font-size: 20px;
		line-height: 28px;
	}


	.lista-temas img {
		width: 140px;
	}


	.temas {
		font-size: 28px;
	}


	.novedades h2 {
		margin-bottom: 2%;
	}


	#boton2 {
		max-width: 600px;
	}


	.footer {
		height: 80px;
	}


	.copyright p {
		font-size: 22px;
	}


	li a {
		font-size: 22px;
	}

}*/