@media only screen
and (max-width: 999px) {

	.services h3 {
		font-size: 18px;
	}

	.contact_details {
		padding: 0 80px 80px 80px; 
	}

	.contact_details h3 {
		font-size: 22px;
	}

	.services div {
		padding: 0 10px 0 10px;
	}

	.hero-text h1 {
		white-space: nowrap;
	}

	p {
		font-size: 14px;
	}


}


/*add button hover:none / HD screens*/


@media only screen
and (max-width: 890px) {

	.contact_details {
		padding: 0 40px 80px 40px; 
	}

	.contact_details h3 {
		font-size: 20px;
	}

	.about_us {
		padding: 0 100px 0 100px;
	}

	h1 {
		font-size: 48px;
	}

	h2 {
		font-size: 40px;
	}

}


@media only screen
and (max-width: 768px) {


	.nav {
		height: 50px;
		line-height: 50px;
	}


	.logo {

		height: 50px;
		left: 20px;
	}


	.logo img {
		height: 50px;

	}


	.menuBtn {
		display: block;
		cursor: pointer;
		left: calc(100% - 50px);
		top: 14.5px;
	}


	.menu {
		text-align: left;
		width: 100%;
		position: absolute;
		background-color: #2597cc;
		z-index: 3;
		height: 0px;
		transition: height 1s;
		top: 50px;
		overflow: hidden;
		margin-right: 0px;	
	}


	.menu a {
		display: block;
		margin: 0px;
		padding-left: 5%;
		color: #FFFFFF;
		line-height: 60px					
	}


	.menu a::selection {
		background: #FFFFFF00;
	}


	.menu a:hover {
		background-color: #0492d4;
		color: #FFFFFF;
	}


	.menu.open {
		display: flex;
		flex-flow: column nowrap;
		height: 180px;
	}

	.contact_details {
		flex-flow: row wrap;
	}

	.contact_details h3 {
		padding: 0 10px 0 10px;
		line-height: 34px;
	}

}


@media only screen
and (max-width: 768px)
and (hover: none) {

	.menu a:hover {
		background-color: #2597cc;
	}

}


@media only screen
and (max-width: 660px) {


	.services {
		flex-flow: column nowrap;
	}

	.services div:first-child {
		padding-bottom: 60px; 
	}

	.services div:last-child {
		padding-top: 60px; 
	}

	.services h3 {
		margin-bottom: 30px;
		font-size: 20px;
	}

	.hero-text h1 {
		font-size: 42px;
	}

	.hero-text button {
		padding: 14px 44px;
	}

}



@media only screen
and (max-width: 500px) {

	.hero-text h1 {
		white-space: normal;

	}

	h2 {
		font-size: 34px;
	}

	.about_us {
		padding: 0 40px 0 40px;
	}

	.contact_details {
		padding: 0 20px 80px 20px;
	}

	.contact_details h3 {
		font-size: 12px;
	}

	.footer {
		flex-flow: column nowrap;
		justify-content: center;
	}

	.footer div {
		margin: 0px;
	}

	.copyright {
		line-height: 30px;
		font-size: 12px;
		text-align: center;
	}

	.social_media {
		width: 85px;
	}
}