
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

body, html {
	width: 100%;
	font-family: 'Roboto', sans-serif;
	color: #060A24;
	overflow-x: hidden;

}

.menuBtn {
	height: 25px;
	width: 34px;
	margin: auto;
	position: absolute;
	display: none;
	border: none;
	background-color: transparent;
}

.one, .two, .three {
	height: 3px;
	width: 30px;
	display: block;
	background-color: black;
	border-radius: 50px;
	transition: 0.2s linear;
	margin: 6px 0;
}

.one {
	margin-top: 0px;
}


.change .one {
	transform: rotate(-45deg) translate(-4px, 10px);

}


.change .two {
	opacity: 0;
}

.change .three {
	transform: rotate(45deg) translate(-2px, -10px);

}


a {
	text-decoration: none;
	color: #060A24;
}

h1 {
	font-size: 50px;
}


.nav {
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.15);
	text-align: right;
	height: 75px;
	line-height: 75px;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	background-color: #FFFFFF;
}


.logo {
	display: block;
	position: absolute;
	top: 0px;
	left: 40px;
	line-height: 36px;
	height: 75px;
}


.logo img {
	height: 75px;
}


.menu {
	margin: 0 40px 0 0;
}


.menu a {
	font-size: 16px;
	margin: 0 10px;
	line-height: 75px;
	clear: right;
}


nav label {
	margin: 0 5% 0 0;
	font-size: 26px;
	line-height: 75px;
	display: none;
	width: 26px;
	float: right;
}


.toggle {
	display: none;
}	


.menu a:hover {
	color: #2597cc;
	text-decoration: underline;
}


.menu a:active {
	color: rgba(37,151,204,0.56);
	text-decoration: line-through;
}



.hero-image {
	height: 400px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;

}

.hero-image:before {
	animation: fade-slide-down 2s cubic-bezier(0, 0.5, 0, 1) forwards;
	background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,.8)),
	url("../images/1noom-peerapong-2uwFEAGUm6E-unsplash.jpg") no-repeat bottom;
	background-size: cover;
	content: "";
	opacity: 0;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -1;

}

@keyframes fade-slide-down {
	0% {
		opacity: 0;
		transform: translateY(-3rem);
	}
	100% {
		opacity: 1;
		transform: none;
	}
}

.hero-text {
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	font-family: 'Lato', sans-serif;
}

.hero-text h1 {
	animation: pop-in 0.6s ease-in forwards;
	opacity: 0;
}

.hero-text p {
	padding-top: 30px;
	padding-bottom: 50px;
	animation: pop-in 0.6s ease-in 0.4s forwards;
	opacity: 0;
}

.hero-text button {
	border: none;
	display: inline-block;
	padding: 16px 50px;
	color: #FFFFFF;
	background-color: rgb(37,151,204);
	border-radius: 10px;
	text-align: center;
	cursor: pointer;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	letter-spacing: 2px;
	font-size: 16px;
	opacity: 0;
	animation: pop-in 0.6s ease-in 0.8s forwards;
}

.hero-text button:hover {
	background-color: rgba(37,151,204,0.7);
}

.services, .bios {
	display: flex;
	flex-flow: row wrap;
	width: 100%;
	justify-content: space-around;
	padding: 0 40px;
}

/*.bios {
	padding: 0 40px;	
}
*/
#servicesCont > h3 {
	font-size: 30px;
	margin: auto; 
	margin-top: 80px;
	margin-bottom: 40px;
	display: block;
	/*background-color: rgba(128,192,222,0.4);*/
	/*background-color: rgba(230, 231, 245,0.5);*/
	/*color: #FFFFFF;*/
	width: 85%;
	text-align: center;
	/*border-radius: 5px;*/
	height: 60px;
	line-height: 60px;
	border-bottom: 4px solid rgb(37,151,204);;
}

.services div, .bios > div {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	padding: 34px 20px 20px 20px;
	border-radius: 20px;
}

.services div {
	overflow: hidden;
	opacity: 0;
	will-change: opacity;
	cursor: pointer;
	height: 280px;
	width: 320px;
	transition: all 0.5s;

}

.services .is-visible {
	opacity: 1;

}

.services .is-visible:first-child {
	animation: pop-in 0.4s ease-in;

}

.services .is-visible:nth-child(2) {
	animation: pop-in 0.6s ease-in;

}

.services .is-visible:nth-child(3) {
	animation: pop-in 0.8s ease-in;

}
/*
.services .is-visible:nth-child(4) {
	animation: pop-in 0.4s ease-in;

}

.services .is-visible:nth-child(5) {
	animation: pop-in 0.6s ease-in;

}

.services .is-visible:nth-child(6) {
	animation: pop-in 0.8s ease-in;

}

.services .is-visible:nth-child(7) {
	animation: pop-in 0.4s ease-in;

}*/

.services .is-visible:last-child {
	animation: pop-in 0.6s ease-in;

}

@keyframes pop-in {
	0% {
		opacity: 0;
		transform: translateY(-2rem) scale(.6);
	}
	100% {
		opacity: 1;
		transform: none;
	}
}

.services div.selected {
	background-color: #ebedff;
	margin-bottom: 40px;
	height: 500px;
}

.services i {
	font-size: 84px;
	color: #147990;
	margin-bottom: 20px;
}

.services div:hover i {
	color: #2597cc;
}

.services div:active i {
	color: rgba(70,142,175,0.86);
}

.services .moreInfo {
	padding: 0px 14px 10px 14px;
	margin-bottom: 0px;
	text-align: justify;
	font-size: 14px;
	color: #000000;
	display: none;
	text-indent: 16px;
}

.services .selected .moreInfo {
	display: initial;
}

.services p:nth-child(4) {
	padding-top: 34px;
}


h2 {
	font-size: 42px;
	color: #333544;
	text-align: center;
	margin: 0 0 80px 0;
}

.services h3 {
	margin-bottom: 30px;
}

.services p {
	display: block;
	max-width: 280px;
	text-align: center;
}

section {
	padding-top: 50px;
	margin-top: 70px; 
	padding-bottom: 80px;
}

#nosotros {
	background-color: rgba(230, 231, 245,0.5);
	padding-bottom: 120px;

}

.about_us {
	padding: 0 150px 0 150px;
}

.about_us p {
	text-align: justify;
	line-height: 32px;
}

#nosotros h3 {
	text-align: center;
	font-size: 38px;
	margin-top: 80px;

}

.bios {
	padding-top: 40px;
}

.bios > div {
	background-color: #FFFFFF;
	/*margin-bottom: 40px;*/
	/*padding-bottom: 30px;*/
	padding: 34px 20px 40px 20px;
	/*flex-basis: 20%;*/
	margin: 0px 10px 40px 10px;
	opacity: 0;
	width: 300px;
}

.bios > .is-visible {
	opacity: 1;
	animation: pop-in 1s forwards;
}

.profilePic {
	border-radius: 50%;
	height: 140px;
}

.bios h4 {
	font-size: 22px;
	margin-top: 30px;
	margin-bottom: 20px;
	text-align: center;
}

.bios p {
	font-size: 13px;
	max-width: 246px;
	display: block;
	text-align: center;
	text-align: justify;
	font-weight: bold;
	align-self: flex-start;
}

.bios > div div {
	/*padding-left: 10px;*/
	/*padding-right: 10px;*/
	min-height: 180px;
}

.bios .institution {
	font-weight: normal;
	font-size: 11px;
	margin-bottom: 6px;
	color: #333333;
	text-align: left;
}

.bios button, form button, #success button {
	border: none;
	display: inline-block;
	padding: 10px 16px;
	color: #FFFFFF;
	background-color: rgb(37,151,204);
	border-radius: 10px;
	text-align: center;
	cursor: pointer;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	letter-spacing: 2px;
	font-size: 11px;
}

.bios button:hover, form button:hover, form button:disabled, #success button:hover {
	background-color: rgba(37,151,204,0.7);
}
.contact_details {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	padding: 0 100px 80px 100px;
}

.contact_details h3 {
	font-size: 24px;
	letter-spacing: 2px;
}

.contact_details i {
	color: #147990;
}

form, #success {
	display: flex;
	flex-flow: column nowrap;
	padding: 0 20% 0 20%;
	justify-content: space-evenly;
}

#success {
	display: none;
	align-items: center;
	font-size: 20px;
	height: 200px;
	text-align: center;

}

#success button {
	font-size: 16px;
	padding: 12px 20px;
}

input {
	height: 30px;
	font-family: 'Roboto', sans-serif;
	margin-top: 10px;
	text-indent: 8px;
	background-color: rgba(230, 231, 245,0.5);;
	border-radius: 5px;
	border: 0;
}

textarea {
	resize: vertical;
	min-width: 192px;
	min-height: 130px;
	font-family: 'Roboto', sans-serif;
	margin-top: 30px;
	padding-left: 8px;
	padding-right: 6px;
	background-color: rgba(230, 231, 245,0.5);;
	border-radius: 5px;
	border: 0;
	padding-top: 6px;
}

form button {
	align-self: flex-end;
	margin-top: 20px;
	font-size: 14px;
}

.footer {
	background-color: rgba(230, 231, 245,0.5);
	height: 75px;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
	-ms-flex-align: center;
	align-content: center;
}


.copyright {
	margin-left: 5%;
	font-size: 14px;
	width: 40%;
}


.social_media {
	/*width: 100px;*/
	width: 56px;
	margin-right: 5%;
	font-size: 18px;
}



.social_media ul {
	display: flex;
	justify-content: space-between;
	flex-flow: row wrap;
}


.social_media ul li {
	list-style: none;
}


footer i:hover {
	color: #2597cc;
}