
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

body, html {
	width: 100%;
	font-family: 'Roboto', sans-serif;
	color: #060A24;
	overflow-x: hidden;

}

.menuBtn {
	height: 25px;
	width: 34px;
	margin: auto;
	position: absolute;
	display: none;
	border: none;
	background-color: transparent;
	outline: 0px;
}

.one, .two, .three {
	height: 3px;
	width: 30px;
	display: block;
	background-color: black;
	border-radius: 50px;
	transition: 0.2s linear;
	margin: 6px 0;
}

.one {
	margin-top: 0px;
}


.change .one {
	transform: rotate(-45deg) translate(-4px, 10px);

}


.change .two {
	opacity: 0;
}

.change .three {
	transform: rotate(45deg) translate(-2px, -10px);

}


a {
	text-decoration: none;
	color: #060A24;
}

h1 {
	font-size: 50px;
}


.nav {
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.15);
	text-align: right;
	height: 75px;
	line-height: 75px;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
}


.logo {
	display: block;
	position: absolute;
	top: 0px;
	left: 40px;
	line-height: 36px;
	height: 75px;
}


.logo img {
	height: 75px;
}


.menu {
	margin: 0 40px 0 0;
}


.menu a {
	font-size: 16px;
	margin: 0 10px;
	line-height: 75px;
	clear: right;
}


label {
	margin: 0 5% 0 0;
	font-size: 26px;
	line-height: 75px;
	display: none;
	width: 26px;
	float: right;
}


.toggle {
	display: none;
}	


.menu a:hover {
	color: #2597cc;
	text-decoration: underline;
}


.menu a:active {
	color: rgba(37,151,204,0.56);
	text-decoration: line-through;
}



.hero-image {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/noom-peerapong-2uwFEAGUm6E-unsplash.jpg");
	height: 400px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

.hero-text {
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	font-family: 'Lato', sans-serif;
}

.hero-text p {
	padding-top: 30px;
	padding-bottom: 50px;
}

.hero-text button {
	border: none;
	outline: 0;
	display: inline-block;
	padding: 16px 50px;
	color: #FFFFFF;
	background-color: rgb(37,151,204);
	border-radius: 10px;
	text-align: center;
	cursor: pointer;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	letter-spacing: 2px;
	font-size: 16px;
}

.hero-text button:hover {
	background-color: rgba(37,151,204,0.7);
}

.services {
	display: flex;
	flex-flow: row wrap;
	width: 100%;
	justify-content: space-around;
	padding: 0 40px 0 40px;
}

.services div {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	/*padding-bottom: 80px;*/
	/*padding-top: 34px;*/
	padding: 34px 20px 20px 20px;
	/*transition: all 0.5s ease;*/
	border-radius: 20px;
	transition: all 0.5s;
	overflow: hidden;
	height: 280px;
	opacity: 0;
	will-change: opacity;
}

.services .is-visible {
	opacity: 1;

}

.services .is-visible:nth-child(1) {
	animation: pop-in 0.4s ease-in;

}

.services .is-visible:nth-child(2) {
	animation: pop-in 0.6s ease-in;

}

.services .is-visible:nth-child(3) {
	animation: pop-in 0.8s ease-in;

}

.services .is-visible:nth-child(4) {
	animation: pop-in 1s ease-in;

}

.services .is-visible:nth-child(5) {
	animation: pop-in 1.2s ease-in;

}

.services .is-visible:nth-child(6) {
	animation: pop-in 1.4s ease-in;

}

.services .is-visible:nth-child(7) {
	animation: pop-in 1.6s ease-in;

}

@keyframes pop-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.services div.selected {
	background-color: #ebedff;
	margin-bottom: 40px;
	height: 500px;
}

.services i {
	font-size: 84px;
	color: #147990;
	margin-bottom: 20px;
}

.services div:hover {
	cursor: pointer;
	/*opacity: 1;*/
}

.services div:hover i {
	color: #2597cc;
}

.services div:active i {
	color: rgba(70,142,175,0.86);
}

.services .moreInfo {
	padding: 0px 10px 10px 10px;
	margin-bottom: 0px;
	text-align: justify;
	font-size: 14px;
	color: #000000;
	display: none;
}

.services .selected .moreInfo {
	display: initial;
}

.services p:nth-child(4) {
	padding-top: 34px;
}


h2 {
	font-size: 42px;
	color: #333544;
	text-align: center;
	margin: 0 0 80px 0;
}

.services h3 {
	margin-bottom: 30px;
}

.services p {
	display: block;
	max-width: 300px;
	text-align: center;
}

section {
	padding-top: 50px;
	margin-top: 70px; 
	padding-bottom: 80px;
}

#nosotros {
	background-color: rgba(230, 231, 245,0.5);
	padding-bottom: 120px;

}

.about_us {
	padding: 0 150px 0 150px;
}

.about_us p {
	text-align: justify;
	line-height: 32px;
}

.contact_details {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	padding: 0 100px 80px 100px;
}

.contact_details h3 {
	font-size: 24px;
	letter-spacing: 2px;
}

.contact_details i {
	color: #147990;
}

.footer {
	background-color: rgba(230, 231, 245,0.5);
	height: 75px;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
	-ms-flex-align: center;
	align-content: center;
}


.copyright {
	margin-left: 5%;
	font-size: 14px;
	width: 40%;
}


.social_media {
	width: 100px;
	margin-right: 5%;
	font-size: 18px;
}



.social_media ul {
	display: flex;
	justify-content: space-between;
	flex-flow: row wrap;
}


.social_media ul li {
	list-style: none;
}


footer i:hover {
	color: #2597cc;
}